body {
    margin:0px;
    background-color: rgb(11, 11, 41);
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 100vh;
   
}

header {
    display: flex;
    justify-content: end;
    flex-grow: 1;
   
}

nav {
    display: flex;
    gap: 3em;
    padding: 3em;
}

a {
    text-decoration: none;
    color: rgb(142, 228, 228);
}

li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.container{
    display: flex;
    flex-grow: 4;
}

footer{
    flex-grow: 1;
   
}

.main-container {
    flex-grow: 1;
  
    display: flex;
    background-color: rgb(82, 235, 235);
    border-radius: 20px;
    margin: 1em;
    padding:  2em 1em;
}

.flex {
    display: flex;
   gap:0.5em; 
   padding: 0.5em 3em 0.5em 1em;
}

.card {
display: flex;
flex-grow: 1;
flex-direction: column;
gap: 1em;
text-align: start;
padding:  0em 5em;


}




.img {
    height: 150px;
    width: 200px;
    border-radius: 20px;

   
}

.white {
    color: white;
    
}

.font-space {
   letter-spacing: 4px;
}

.background {
    background-color: rgb(155, 235, 224);
    border-radius: 20px;
}

.column {
    flex-grow: 1;
  
}

.bold {
    font-weight:700;
}

.margin {
   
    margin-top:1em
}

.divider {
    border-right: 0.5px solid rgb(140, 140, 179);
}


.font-8px {
    font-size: 15px;
}


/* @media (max-width: 540px) {


    .container {
        flex-direction: column;
        gap: 2em;
    }

    .divider {
        border-right: 0px solid rgb(140, 140, 179);
    }
} */